/** Not allowed to change this initial CSS code **/
body {
	background: url(../img/12_col.gif) center top repeat-y;
	background-size: 90%;
}
/*************************************************/
.main_container{
	/* background-color: aqua; */
	display: grid;
	width: 90%;
	min-height: 500px;
	margin: auto;

	grid-template-rows: repeat(4, 25%);
	grid-template-columns: repeat(12, 1fr);

	row-gap: 10px ;
	column-gap: 2%;
}

/*--------------------- Common properties --------------------*/

.header, .box1, .box2, .box3, .content, .sidebar, .footer, [class*='footer_']{
	border: 1px solid black;
}

/*---------------------- Header sections ---------------------*/
.header{
	grid-column: 1 / 13 ;
	grid-row: 1 / 2;
}

/*---------------------- Box sections ------------------------*/

.box1{
	grid-column: 1 / span2 ;
	grid-row: 2 / 3;
}

.box2{
	grid-column: 3 / 11 ;
	grid-row: 2 / 3;
}

.box3{
	grid-column: 11 / 13 ;
	grid-row: 2 / 3;
}

/*-------------- Content and sidebar section -------------*/

.content{
	grid-column: 1 / 10 ;
	grid-row: 3 / 4;
}

.sidebar{
	grid-column: 10 / 13 ;
	grid-row: 3 / 4;
}

/*-------------------- Footer section ----------------*/

.footer{
	display: grid;
	grid-column: 1 / 13 ;
	grid-row: 4 / 5;
    grid-template-columns: repeat(4, 1fr);
	column-gap: 2%;
	padding: 8px;

}


/*-------------------------------------------------------------
*************************   MEDIA QUERIES  ********************
--------------------------------------------------------------*/

/*-------------------------------------------------------------
/*                         Small desktops
--------------------------------------------------------------*/

@media screen and (max-width: 1200px)
{
       
	/*---------------------- Box sections --------------------*/

	.box1{
		grid-column: 1 / 4;
	}

	.box2{

		grid-column: 4 / 10;
	}
	.box3{
		grid-column: 10 / 13;
	}

	/*-------------- Content and sidebar section -------------*/

	.content{
		grid-column: 1 / 9;
	}

	.sidebar{
		grid-column: 9 / 13;
	}
}


/*-------------------------------------------------------------
/*                          TABLETS  
--------------------------------------------------------------*/ 

@media screen and (max-width: 960px)
{
	.main_container{		
		grid-template-rows: repeat(5, 1fr);
	}

	/*---------------------- Box sections --------------------*/

	.box1{
		grid-column: 1 / 5;
	}

	.box2{
		grid-column: 5 / 9;	
	}

	.box3{
		grid-column: 9 / 13;
	}

	/*-------------- Content and sidebar section -------------*/

	.content{
		grid-column: 1 / 7;
	}

	.sidebar{
		grid-column: 7 / 13;
	}

	/*-------------------- Footer section ----------------*/

	.footer{
		grid-row: 4 / 6;	
		grid-template-columns: 1fr 1fr;
		column-gap: 2%; 
		row-gap: 10px;
	
	}
}

/*-------------------------------------------------------------
/*                          MOBILES 
--------------------------------------------------------------*/ 

@media screen and (max-width: 768px)
{

	.main_container{
		min-height: 800px;
		grid-template-rows: repeat(10, 1fr);
	}

	/*---------------------- Box sections --------------------*/

	.box1{
		grid-column: 1 / 13 ;
		grid-row: 2 / 3;
	}

	.box2{
		grid-column: 1 / 13 ;
		grid-row: 3 / 4;
	}

	.box3{
		grid-column: 1 / 13 ;
		grid-row: 4 / 5;
	}

	/*-------------- Content and sidebar section -------------*/

	.content{
		grid-column: 1 / 13 ;
		grid-row: 5 / 6;
	}

	.sidebar{
		grid-column: 1 / 13 ;
		grid-row: 6 / 7;
	}

	/*-------------------- Footer section ----------------*/

	.footer{
		grid-row: 7 / 10;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(4, 1fr);	
		padding: 4px;
		row-gap: 6px;
	}
}



