/** Not allowed to change this initial CSS code **/
body {
	background: url(../img/12_col.gif) center top repeat-y;
	background-size: 90%;
}
/*************************************************/
.main_container{
	display: grid;
	/* background-color: rgb(161, 161, 243, 0.2); */
	width: 89%;
	min-height: 1000px;
	margin: auto;

	grid-template-rows: repeat(4, 25%);
	grid-template-columns: repeat(12, 1fr);

	row-gap: 10px ;
	column-gap: 25px;
}

.header{
	/* background-color: aqua; */
	border: 1px solid black;
	grid-column: 1 / 13 ;
	grid-row: 1 / 2;
}


.box1, .box2, .box3, .content, .sidebar, .footer, [class*='footer_']{
	border: 1px solid black;
}

.box1{
	/* background-color: greenyellow; */
	grid-column: 1 / span 2 ;
	grid-row: 2 / 3;
}

.box2{
	/* background-color: green; */
	grid-column: 3 / 11 ;
	grid-row: 2 / 3;
}

.box3{
	/* background-color: goldenrod; */
	grid-column: 11 / 13 ;
	grid-row: 2 / 3;
}

.content{
	/* background-color: blueviolet; */
	grid-column: 1 / 10 ;
	grid-row: 3 / 4;
}

.sidebar{
	/* background-color: rgb(226, 63, 177); */
	grid-column: 10 / 13 ;
	grid-row: 3 / 4;
}

.footer{
	/* background-color: orange; */
	grid-column: 1 / 13 ;
	grid-row: 4 / 5;
	display: grid;
    grid-template-columns: repeat(4, 1fr);

	column-gap: 20px;
	padding: 10px;
}


/*-------------------------------------------------------------
*************************   MEDIA QUERIES  ********************
--------------------------------------------------------------*/

/*-------------------------------------------------------------
/*                         Normal desktops
--------------------------------------------------------------*/
@media screen and (max-width: 1880px)
{
        .main_container{
		 background-color: coral; 
		opacity: 80%;
	}
	
}


/*-------------------------------------------------------------
/*                         Small desktops
--------------------------------------------------------------*/

@media screen and (max-width: 1200px)
{
        .main_container{
		background-color: skyblue;  
		opacity: 80%;
	}

	/*---------------------- Box sections --------------------*/

	.box1{
		/* background-color: greenyellow; */
		grid-column: 1 / 4;
	}
	
	.box2{
		/* background-color: green; */
		grid-column: 4 / 10;
	}
	.box3{
		/* background-color: goldenrod; */
		grid-column: 10 / 13;
	}
	
	/*-------------- Content and sidebar section -------------*/

	.content{
		/* background-color: blueviolet; */
		grid-column: 1 / 9;
	}
	
	.sidebar{
		/* background-color: rgb(226, 63, 177); */
		grid-column: 9 / 13;
	}
}

/*-------------------------------------------------------------
/*                          TABLETS  
--------------------------------------------------------------*/ 

@media screen and (max-width: 960px)
{
	.main_container{
		background-color: green;
		grid-template-rows: repeat(5, 1fr);
		column-gap: 20px;
	}

	/*---------------------- Box sections --------------------*/

	.box1{
		/* background-color: greenyellow; */
		grid-column: 1 / 5;
	}
	
	.box2{
		/* background-color: green; */
		grid-column: 5 / 9;	
	}

	.box3{
		/* background-color: goldenrod; */
		grid-column: 9 / 13;
	}

		/*-------------- Content and sidebar section -------------*/

	.content{
		/* background-color: blueviolet; */
		grid-column: 1 / 7;
	}
	
	.sidebar{
		/* background-color: rgb(226, 63, 177); */
		grid-column: 7 / 13;
	}

	/*-------------------- Footer section ----------------*/

	.footer{
		/* background-color: orange; */	
		grid-row: 4 / 6;	
		grid-template-columns: 1fr 1fr;
		column-gap: 18px;
		row-gap: 10px;
	}

}

/*-------------------------------------------------------------
/*                          MOBILES 
--------------------------------------------------------------*/ 

@media screen and (max-width: 768px)
{

	.main_container{
		background-color: yellow;  
		opacity: 80%;
		grid-template-rows: repeat(10, 1fr);
		row-gap: 10px ;
		column-gap: 25px;
	}

	/*---------------------- Box sections --------------------*/

	.box1{
		/* background-color: greenyellow; */
		grid-column: 1 / 13 ;
		grid-row: 2 / 3;
	}

	.box2{
		/* background-color: greenyellow; */
		grid-column: 1 / 13 ;
		grid-row: 3 / 4;
	}

	.box3{
		/* background-color: greenyellow; */
		grid-column: 1 / 13 ;
		grid-row: 4 / 5;
	}

	/*-------------- Content and sidebar section -------------*/

	.content{
		/* background-color: blueviolet; */
		grid-column: 1 / 13 ;
		grid-row: 5 / 6;
	}
	
	.sidebar{
		/* background-color: rgb(226, 63, 177); */
		grid-column: 1 / 13 ;
		grid-row: 6 / 7;
	}

	/*-------------------- Footer section ----------------*/

	.footer{
		grid-row: 7 / 10;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(4, 1fr);	
		padding: 5px;
	}
}



